.img1 {
  width: 45px;
  height: 50px;
}
.imgNave {
  width: 100px;
  height: 110px;
}
.missil1 {
  width: 40px;
  height: 80px;
  margin-left: 670px;
  margin-top: 20px;
}
.missil2 {
  width: 40px;
  height: 80px;
  margin-left: 720px;
  margin-top: 20px;
}

.alien {
  width: 160px;
  height: 120px;
  position: absolute;
}
.sombra {
  box-shadow: 0 0 8px 10px white;
}
.background {
  background-color: rgba(0, 0, 0, 0.5);
}
#mensagem-pausa {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  z-index: 20;
  display: none;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); 
  display: none;
  z-index: 10;
}
.aliens-container {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  animation: moverAlien 7s linear;
}