
body {
  background-image: url("https://cdn.wallpaperhub.app/cloudcache/c/1/4/5/2/7/c1452724f0c3bb5a9a9a9898b4c0a0cfac091f70.jpg");
  background-size: cover;
}
#foto{
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background-image: url("https://uploads.dailydot.com/2025/04/tung-tung-sahur-meme-2.png?q=65&auto=format&w=800");
  background-size: cover;
}